{% extends '../base/base.html' %}

{% load tz %}

{% block title %}{{ user.first_name }}{% endblock title %}


{% block heading %}

<div class="d-lg-flex align-items-center text-center text-lg-start">
    <div>{{ user.first_name }}</div>
    <div class="ms-lg-auto display-5">
        <a href="{% url 'logout' %}" class="btn btn-info"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </div>
</div>

{% endblock heading %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ user.pk }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
    </tbody>
</table>

<h2 class="display-4">Games</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
  {% for game in games %}
  <div class="col">
      <div class="card rounded-3">
          <img src="data:image/png;base64,{{ game.total_reign_time_plot }}"
              class="card-img-top border-bottom rounded-top-3" alt="Game miniature image">
          <div class="d-flex flex-row card-body">
              <div>
                  <h5 class="card-title">{{ game }}</h5>
                  <p class="card-text text-wrap me-3">
                      Players: {% for player in game.players.all %}
                      {{ player.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                  </p>
              </div>
              <a href="{% url 'games:detail' game.id %}"
                  class="btn btn-info ms-auto align-self-center">Details</a>
          </div>
          <div class="card-footer text-muted">
              {{ game.date | localtime | date:"H:i D. dS M. Y" }}
          </div>
      </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}




