Django==4.0.1
django-cors-headers==3.13.0
djangorestframework==3.14.0
drf-spectacular
matplotlib
numpy
pandas
python-dotenv
seaborn
pipreqs
jupyter
pytest
black
flake8
-e git+https://github.com/Wolgamonox/koth-ping-pong-website#egg=koth_stats&subdirectory=koth_stats