{% extends '../base/base.html' %}

{% block title %}{{ game }}{% endblock title %}

{% block heading %}
<div class="d-lg-flex align-items-center text-center text-lg-start">
    <div>{{ game }}</div>
    <div class="ms-lg-auto display-5">
        {% for player in game.players.all %}
        {{ player.first_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
</div>
{% endblock heading %}

{% block content %}
<div class="container text-center pt-2 pb-3 border border-2 rounded-3">
    <h2 class="display-5">Summary</h2>
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="lead mb-0">Total fraction of reign time</p>
            <img class="img-fluid" src="data:image/png;base64, {{ game.total_reign_time_plot }}"
                alt="Total reign time plot">
        </div>
        <div class="col-12 col-md-4">
            <p class="lead mb-0">Reign time distributions</p>
            <img class="img-fluid" src="data:image/png;base64, {{ game.reign_time_plot }}" alt="Reign time plot">
        </div>
        <div class="col-12 col-md-4">
            <p class="lead mb-0">Number of crowns claimed</p>
            <img class="img-fluid" src="data:image/png;base64, {{ game.crowns_claimed_plot }}"
                alt="Crowns claimed plot">
        </div>
    </div>
    <hr class="">
    <div class="row">
        <p class="lead mb-0">Crown transitions</p>
        <img class="img-fluid" src="data:image/png;base64, {{ game.crown_transitions_plot }}" alt="Crowns claimed plot">
    </div>
</div>

<div class="container text-center pt-2 pb-3 border border-2 rounded-3 mt-4">
    <h2 class="display-5">Score</h2>
    <img class="img-fluid" src="data:image/png;base64, {{ game.points_plot }}" alt="Points plot">
</div>
{% endblock content %}